.container_contact {
  display: block;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(126, 75, 75, 0.2), rgba(0, 0, 0, 0.2)),url("../img/contact-background.jpg") no-repeat center center/cover;
  margin: 0;
  padding: 20px;
  min-height: 80vh;
  box-sizing: border-box;
  max-width: auto;
}
.contact-heading {
  color: white;
}
.formbox {
  align-items: center;
  justify-content: center;
  position: center;
  background: whitesmoke;
  max-width: 360px;
  margin: 10px auto;
  margin-bottom: 40px;
  padding: 10px 30px 20px 30px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}
