.App {
  text-align: center;
  min-height: 100vh;
}

.main-wrapper {
  display: flex;
  flex-flow: column wrap;
  /* NEEDS FIXING */
  /* min-height: calc(100vh - 271px); */
}

@media (prefers-reduced-motion: no-preference) {
  .rotate {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(21, 49, 10);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
